.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasksForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.links {
  padding: 5px;
  a {
    color: black;
    margin: 5px;
    &:active,
    &:focus,
    &:target {
      color: var(--primary);
    }
  }
}

.activeLink {
  color: var(--primary);
}

.taskInput {
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    margin: 0px 5px;

    button {
      margin: 0px 5px;
      height: 55px;
    }
  }
}

.taskText {
  width: 300px;
}

@media screen and (max-width: 660px) {
  .taskText {
    width: 180px;
  }
}
@media (max-width: 460px) {
  .taskText {
    width: 160px;
  }

  .taskInput {
    div {
      margin: 0;
      button {
        margin: 0;
      }
    }
  }
}
