.navBar {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-evenly;
  background-color: var(--primary);

  div {
    margin: 0px 5px;
  }
}

.user {
  display: flex;
  align-items: center;
}
