.login {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  form {
    align-items: center;
    div {
      margin: 0px 5px 0px 0px;
    }
  }
  input {
    height: 15px;
  }
}

.buttonSubmit {
  height: 48px;
}
